<!-- <footer>
    <div class="footer-container">
      <div class="logo">Your Company Name</div>
      <nav>
        <ul>
            <li><a href="#" routerLink="/dashboard/places">Places</a></li>
                <li><a href="#" routerLink="/dashboard/flight">Flight</a></li>
                    <li><a href="#" routerLink="/dashboard/package">Package</a></li>
                        <li><a href="#" routerLink="/dashboard/travels">Travels</a></li>
                          <li><a href="#" routerLink="/dashboard/Hotel">Hotel</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-bottom">© 2023 Your Company Name. All rights reserved.</div>
  </footer>
   -->
