.footer {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  padding: 10px 0; /* Add padding above and below */
}

.container {
  max-width: auto; /* Set max width */
  margin: 0 auto; /* Center horizontally */
  padding: 0 15px; /* Add padding to the sides */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Space items evenly */
}

.col-md-6 {
  width: calc(50% - 15px); /* 50% width with margin between columns */
}

h3 {
  color: #fff; /* White text color for headings */
}

p {
  margin-bottom: 3px; /* Add spacing between paragraphs */
}

.text-center {
  text-align: center; /* Center-align text */
}

hr {
  border-top: 1px solid #555; /* Darker border color */
  margin: 10px 0; /* Add spacing above and below */
}
