<div class="login-container">
    <form class="login-form" (submit)="login()">
      <h2 class="login-header">LOGIN</h2>
      <div class="input-group">
        <label for="username">Username:</label>
        <input type="text" [(ngModel)]="userName" id="username" name="username" required placeholder="Enter User Name as admin">
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" [(ngModel)]="password" id="password" name="password" required placeholder="Enter Password as Admin123">
      </div>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      <button type="submit" class="login-btn">Login</button>
    </form>
  </div>
  