<form #f="ngForm" (ngSubmit)="onSubmit()" class="hotel-form">
  <label for="fname">ENTER YOUR NAME:</label><br>
  <input type="text" id="fname" name="fname" [(ngModel)]="Hotel.HotelName" #NameModel="ngModel" maxlength="30" required placeholder="Enter Your Name"><br><br>
  
  <div *ngIf="NameModel.errors && (NameModel.dirty || NameModel.touched)" class="error-msg">
    <div [hidden]="!NameModel.errors['required']">
      Your Name is required!
    </div>
    <div [hidden]="!NameModel.errors['maxlength']">
      Hotel Name cannot exceed 30 characters.
    </div>
  </div>
  
  <label for="rooms">CHOOSE NUMBER OF ROOMS:</label><br>
  <select id="rooms" name="rooms" [(ngModel)]="Hotel.Rooms" required>
    <option *ngFor="let i of [1,2,3,4,5,6,7,8]" [ngValue]="i">{{ i }}</option>
  </select><br><br>
  
  <label>ROOM TYPE:</label><br>
  <input type="radio" id="single" name="roomType" value="Single" [(ngModel)]="Hotel.RoomType" required>
  <label for="single">Single</label><br>
  <input type="radio" id="double" name="roomType" value="Double" [(ngModel)]="Hotel.RoomType" required>
  <label for="double">Double</label><br><br>
  
  <label>ADDRESS:</label><br>
  <textarea name="address" rows="4" cols="20" [(ngModel)]="Hotel.Address" required placeholder="Enter Your Address"></textarea><br><br>
  
  <form [formGroup]="form" class="form-control">
    <div class="form-group">
      <div formArrayName="emails">
        <div  *ngFor="let email of emailControls;let i=index" [formGroupName]="i">
      <label class="email">Email :</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Enter Your Email">
      <button type="button" (click)="addEmail()" *ngIf="i === emailControls.length - 1">Add Another Email</button>
      <button type="button" (click)="removeEmail(i)" [disabled]="emailControls.length === 1">Remove Email</button>
          <div *ngIf="email.get('email')?.invalid && (email.get('email')?.dirty || email.get('email')?.touched)" class="alert alert-danger">
            <div *ngIf="email.get('email')?.errors?.['required']"> Email required</div>
            <div *ngIf="email.get('email')?.errors?.['email']"> Email format improper</div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br><br>
  
  <input type="submit" value="Submit">
</form>
