<div class="nav navbar">
    <a class="nav-link" routerLink="/dashboard/places">Places</a>
    <a class="nav-link" routerLink="/dashboard/package">Packages</a>
    <a class="nav-link" routerLink="/dashboard/flight">Book A Flight</a>
    <a class="nav-link" routerLink="/dashboard/hotel">Book A Hotel</a>    
    <a class="nav-link" routerLink="/dashboard/travels">Book A Travels</a>    
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>

<app-footer class="footer"></app-footer>

