<div class="nav navbar navbar-dark bg-dark">
    <a class="nav-link" routerLink="/dashboard/places">Places</a>
    <a class="nav-link" routerLink="/dashboard/package">Package</a>
    <a class="nav-link" routerLink="/dashboard/flight">Flight</a>
    <a class="nav-link" routerLink="/dashboard/hotel">Hotel</a>    
    <a class="nav-link" routerLink="/dashboard/travels">Travels</a>    
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>

<app-footer class="footer"></app-footer>

